<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>xyz-test</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/statics/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>cn.xyz.mvc.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>myapplication.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/</url-pattern><!-- 不能用/*，否则controller无法返回视图（jsp） -->
	</servlet-mapping>
	<servlet>
        <servlet-name>testServlet2</servlet-name>
        <servlet-class>cn.xyz.test.TestServlet2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>